f<div class="center-content">
    <form align="center">
        <img src="assets/logo.jpeg" width="250" height="250">
    </form>
    <form align="center">
        <circle-progress [percent]="85" [radius]="50" [outerStrokeWidth]="5" [innerStrokeWidth]="0"
            [outerStrokeColor]="'#808080'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [animationDuration]="3000"></circle-progress>
    </form>
    <form align="center">
        <h1 style="font-weight: bold;">Loading ....</h1>
    </form>
</div>